/* style.css */
/* Basic styles for the website */
:root {
    --primary-color: #783df0;
    --secondary-color: #b80257;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --column: 3;
    --spacing: 30px;
    counter-set: heading;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Source Sans 3", sans-serif;
    color: #222;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #333;
}

p {
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}
.center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.flex {
    display: flex;
}
.mtb-50 {
    margin: 50px 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    height: 28px;
    width: 50px;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 2px 8px;
    color: #fff;
    border-radius: 12px;
    background-color: #000;
    transition: all 0.5s;
}
.btn:hover {
    translate: 0 -10px;
    color: #fff;
    text-decoration: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn--free {
    background-color: var(--primary-color);
}
.btn--paid {
    background-color: var(--secondary-color);
}
.btn--next {
    background-color: var(--primary-color);
}
.btn--secondary {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 84px;
    height: 36px;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 6px;
    transition: all 0.5s;
    border: 1px solid var(--secondary-color);
    text-decoration: none !important;
}
.btn--secondary:hover {
    color: var(--secondary-color);
    background-color: #fff;
}
.btn--lg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500;
    height: 42px;
    width: 180px;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}
.btn--readnow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 500;
    height: 42px;
    width: 160px;
    border-radius: 14px;
    color: rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.55);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
}
.btn--readnow:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    border: 1px solid transparent;
}
.input--subscribe__email {
    height: 36px;
    width: 100%;
    border-radius: 20px;
    padding: 4px 12px;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.6);
    background-color: #272727;
}
.input--subscribe__email:focus {
    outline: none;
}
.input--subscribe__email::placeholder {
    opacity: 0.6;
}
/* Courses */
.header__wrapper {
    display: flex;
    width: 100%;

    background: url(../img/background-image.jpg) no-repeat center;
    background-size: cover;
}
.inner {
    padding: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.hearder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 30px;
    background-color: #151515;
    z-index: 99;
}
.menu__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu__list {
    display: flex;
    gap: 20px;
}
.menu__item {
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    flex: 1;
}
.sub-menu .menu__item:hover {
    color: #fff;
    background-color: var(--secondary-color);
}
.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    padding-bottom: 15px;
}

.sub-menu {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 200px;
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: -50px;
    border: 1px solid #ccc;
    border-radius: 12px;
    transition: all 0.35s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sub-menu .menu__item + .menu__item {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.menu__item:hover .sub-menu {
    top: 50px;
    left: 0;
    padding: 8px;
    opacity: 1;
    visibility: visible;
    height: 120px;
}
.breadcrumb__link:hover,
.menu__link:hover {
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}
.action__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    padding: 4px;
    background-color: #fff;
}
.action__btn:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sidebar__search-icon,
.action__icon {
    width: 16px;
    height: 16px;
}
.breadcrumb {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.breadcrumb__title {
    color: #fff;
    font-size: 4.2rem;
    font-weight: 700;
    text-align: center;
}
.breadcrumb__backward {
    color: #fff;
    font-size: 1.5rem;
}
.banner {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 30px;
}
.banner__title {
    color: #fff;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}
.banner__desc {
    font-size: 1.5rem;
}
.banner__links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main {
    margin: 40px 0;
    width: 100%;
}
.sidebar {
    flex: 1;
}
.sidebar__search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    padding: 4px 14px;
    border: 1.5px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}
.sidebar__search-input {
    padding: 4px;
    font-size: 1.6rem;
    line-height: 1.6;
    border: none;
    outline: none;
}
.sidebar__search-input::placeholder {
    opacity: 0.6;
}
.sidebar__category {
    margin-top: 30px;
}
.sidebar__list {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.sidebar__item {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.5s;
}
.sidebar__item:hover {
    padding-left: 32px;
}
.content {
    flex: 4;
}
.content__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.content__type {
    height: 30px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-radius: 8px;
    font-size: 1.4rem;
}
.content__type--active,
.content__type:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.course__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--spacing);
    margin-left: var(1 * --spacing);
}
.course__item {
    margin-top: var(--spacing);
    cursor: pointer;
    outline: 1px solid #ccc;
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
}
.course__title {
    font-size: 1.8rem;
}
.course__item:hover .course__title {
    color: var(--primary-color);
}
.course__img-wrapper {
    width: 100%;
    overflow: hidden;
}
.course__img {
    display: block;
    width: 100%;
    transition: all 0.5s;
    object-fit: cover;
}
.course__item:hover .course__img {
    scale: 1.1;
}
.teacher__img {
    border-radius: 50%;
}
.course__detail {
    padding: 24px 18px;
}
.user__icon {
    display: inline-block;
    translate: 0 4px;
    width: 14px;
    height: 14px;
}
.course__teacher {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course__members {
    display: flex;
    gap: 5px;
}
.pages__nav {
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.pages__item {
    transition: all 0.35s;
    color: #ccc;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.4;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.pages__item--active,
.pages__item:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* Footer */
.footer {
    padding: 80px 0;
    color: #ccc;
    height: 400px;
    background-color: #151515;
}
.footer__list {
    display: flex;
    gap: var(--spacing);
}
.footer__item {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer__item:first-child,
.footer__item:last-child {
    flex: 2;
}
.footer__item ul {
    list-style-type: none;
}
.footer__item ul li {
    font-size: 1.4rem;
}
.footer__item ul li + li {
    margin-top: 15px;
}
.footer__item a:hover {
    color: var(--secondary-color);
}
.footer__heading {
    color: #fff;
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
.app__market {
    display: flex;
    align-items: center;
    gap: 20px;
}
.stats__wrapper {
    height: 150px;
    margin-top: 50px;
}
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stat {
    width: 33.33333333%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.stat__img {
    width: 90px;
    height: 90px;
}
.stat__desc {
    width: 190px;
    font-size: 1.9rem;
    font-weight: 700;
}
.find__courses--bg {
    background: url(../img/img_bg_find_course.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.find__courses {
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}
.find__heading,
.featured__heading {
    color: #fff;
    font-size: 3.6rem;
}
.find__desc,
.featured__desc {
    font-size: 1.4rem;
    color: #fff;
}

.find__inputs {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}
.find__input,
.find__input--select {
    height: 28px;
    min-width: 240px;
    font-size: 1.4rem;
    color: #000;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
}
.find__input:focus,
.find__input--select:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.find__input--select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 52px;
}
.find__input {
    padding: 10px 30px;
}
select,
::picker(select) {
    appearance: base-select;
    border-radius: 12px;
}
select {
    height: 100px;
}
option {
    padding-left: 16px;
    height: 48px;
}
option:checked {
    background-color: #ccc;
}
option:hover,
option:focus-visible {
    background-color: var(--secondary-color);
}
.featured__courses {
    margin: 100px 0;
}
.featured__heading,
.featured__desc {
    text-align: center;
}
.featured__heading {
    color: #000;
    font-size: 3.6rem;
}
.featured__desc {
    font-size: 1.4rem;
    color: #000;
}
.choose-the-plan__wrapper,
.sign-up__wrapper {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign-up__wrapper {
    height: 260px;
    background: linear-gradient(0deg, rgba(120, 61, 240, 1) 0%, rgba(184, 2, 87, 1) 100%);
}
.sign-up__wrapper h2,
.sign-up__wrapper p {
    color: #fff;
}
.choose-the-plan__wrapper h2,
.sign-up__wrapper h2 {
    font-size: 3.4rem;
}
.choose-the-plan__wrapper p,
.sign-up__wrapper p {
    font-size: 1.4rem;
}
.plan__list {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}
.plan__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    gap: 10px;
    flex: 1;
    min-height: 320px;
    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 12px;
    transition: all 0.6s;
}
.plan__item:hover .btn--start__now {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary-color);
}
.plan__item:hover {
    scale: 1.08;
    border-color: var(--primary-color);
}
.plan__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    padding-bottom: 30px;
    font-weight: 700;
}
.plan__price {
    font-size: 1.7rem;
}
.plan__price i {
    display: inline-block;
    translate: -10px -40px;
    font-size: 3rem;
}
.plan__price span {
    font-size: 9rem;
}
.plan__item ul {
    margin: 20px;
}
.plan__item ul li + li {
    margin-top: 10px;
}
.btn--start__now {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 160px;
    border-radius: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
    border: 1px solid rgba(0, 0, 0, 0.55);
    color: rgba(0, 0, 0, 0.55);
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s;
}
.btn--start__now:hover {
    translate: 0 -10px;
    color: #fff;
    text-decoration: none;
    background-color: var(--primary-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.testomonial {
    margin: 50px 0;
}
.blogs > h2,
.blogs > p,
.testomonial > h2,
.testomonial > p {
    text-align: center;
}
.blogs h2,
.testomonial h2 {
    font-size: 3.4rem;
}
.blogs p,
.testomonial p {
    font-size: 1.8rem;
}
.staff__list {
    margin: 100px 0;
    display: flex;
    align-items: center;
    gap: 80px;
}
.staff__item {
    flex: 1;
    padding: 14px 40px 14px 100px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 12px;
    border: 1px solid transparent;
}
.staff__img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: -6%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 50%;
}
.staff__name {
    font-size: 1.8rem;
}
.blogs {
    padding: 50px;
}
.blog__list {
    display: flex;
    align-items: center;
    gap: 50px;
}
.blog__item {
    margin: 50px 0;
    border-radius: 12px;
    flex: 1;
}
.blog__name {
    margin: 20px 0;
    font-size: 2rem;
}
.blog__stats {
    display: flex;
    align-items: center;
    gap: 20px;
}
.blog__desc {
    margin: 30px 0;
}
.blog__img-wrapper {
    overflow: hidden;
}
.blog__name,
.blog__img {
    transition: all 0.5s;
}
.blog__item:hover .blog__name {
    color: var(--secondary-color);
}

.blog__item:hover .blog__img {
    scale: 1.1;
}
.btn--instructor {
    height: 42px;
    width: 160px;
    color: #fff;
    background-color: var(--secondary-color);
}
.instructor {
    height: 480px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.instructor__left {
    flex: 1;
}
.instructor__img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.instructor__right {
    display: flex;
    flex: 1;
    gap: 20px;
    padding-left: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.instructor__heading {
    font-size: 2.6rem;
    font-weight: 700;
}
.instructor__desc {
    font-size: 1.8rem;
    width: 380px;
}
.brand__list {
    padding: 50px;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Outline Course */
main {
    position: relative;
}
.float-right {
    float: right;
    translate: -6px 6px;
}
.course {
    padding: 16px 0;
    background-color: #272a31;
    min-height: 100vh;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border-radius: 16px 16px 0 0;
}
.white {
    color: #fff;
}
.search {
    position: relative;

    display: flex;
    align-items: center;
}
.bookmark {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    flex: 1;
    color: #007bff;
}
.bookmark p {
    font-size: 1.2rem;
}
.course__search {
    display: flex;
    padding: 12px;
}
.search {
    padding: 8px 24px;
    border-radius: 12px;
    height: 30px;
    flex: 3;
    background-color: rgb(112, 128, 144, 0.5);
}
.input__label {
    pointer-events: none;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 60px;
    font-size: 1.6rem;
    color: #ccc;
    transition: all 0.5s;
    line-height: 1.6;
}
.input--search {
    position: relative;
    color: #fff;
    padding: 8px 12px;
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 1.6;
}
.input--search::placeholder {
    color: transparent;
}
.input--search:focus::placeholder {
    color: #ccc;
}
.input--search:focus + .input__label {
    color: #fff;
    font-size: 1.2rem;
    translate: -20px -30px;
}
.course__menu {
}
.course__menu li {
    position: relative;
}
.course__menu li + li {
    margin-top: 10px;
    border-top: 1px solid #000;
}
.course__top {
    z-index: 999;
    top: 0;
    position: sticky;
    background-color: inherit;
}
.course h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}
.course__menu h2 {
    transition: all 0.5s;
    position: sticky;
    z-index: 2;
    top: 140px;
    cursor: pointer;
    padding: 8px 12px;
    color: #fff;
    background-color: #333;
    font-size: 2rem;
    font-weight: 700;
    counter-reset: sub-heading;
}
.course__menu h2::before {
    counter-increment: heading;
    content: counter(heading) ". ";
}
.course__menu h3 {
    cursor: pointer;
    padding: 12px 20px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    margin-left: 30px;
    counter-increment: sub-heading;
}
.course__menu h3::before {
    content: counter(heading) "." counter(sub-heading) " ";
}
.course__menu h3::after {
    width: 24px;
    height: 24px;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    content: "\25B6";
}
.list__index {
    display: flex;
    align-items: center;
    gap: 10px;
}
